<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12" ng-if="!showDish">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showDish">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src="{{ dish.image }}" alt="Uthappizza">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{ dish.name }}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-4">
                    <h4>Customer Comments</h4>
                </div>
                <div class="col-xs-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label>Sort by:</label>
                            <input type="text" ng-model="sortByValue">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <blockquote ng-repeat="comment in dish.comments | orderBy: sortByValue">
                        <p>{{ comment.rating }} Stars</p>
                        <p>{{ comment.comment }}</p>
                        <footer>{{ comment.author }}, {{ comment.date | date }}</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <blockquote ng-show="commentForm.$valid && commentForm.$dirty">
                    <p>{{ mycomment.rating }} Starsa</p>
                    <p>{{ mycomment.comment }}</p>
                    <footer>{{ mycomment.author }}, {{ mycomment.date | date }}</footer>
                </blockquote>
            </ul>
            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input ng-model="mycomment.author" type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
                        <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">The author's name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ratingDiv" class="col-sm-2 control-label">Rating</label>
                    <div class="col-sm-10" id="ratingDiv">
                        <div class="form-inline">
                            <label class="radio-inline" ng-repeat="rate in ratings">
                                <input type="radio" id="{{rate}}" ng-model="mycomment.rating" name="ratingg" ng-value="rate" ng-checked="rate==mycomment.rating"> {{ rate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.mycomment.$error.required && !commentForm.mycomment.$pristine }">
                    <label for="mycomment" class="col-sm-2 control-label">Comment</label>
                    <div class="col-sm-10">
                        <textarea ng-model="mycomment.comment" class="form-control" id="mycomment" name="mycomment" rows="4" placeholder="Enter Comment" required></textarea>
                        <span ng-show="commentForm.mycomment.$error.required && !commentForm.mycomment.$pristine" class="help-block">The comment is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Add Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>